html
    head
        title Edit
        link(rel="stylesheet", href="/styles.css")
    body
        div(class="container")
            div(class="main")
                h1 Edit users list
                form(action="/editList/" + user.userId, method="POST")
                    div
                        label(for="username") username:
                        input(name='username', value=user.username, id='username')
                    div
                        label(for="name") name:
                        input(name='name', value=user.name, id='name')
                    div
                        label(for="email") email:
                        input(name='email', value=user.email, id='email')
                    div
                        label(for="age") age:
                        input(name='age', value=user.age, id='age')
                    div
                        input(type='hidden', name='userId', value=user.userId)
                    div
                        input(type='submit', name='submit', value='Save Changes' id='save')
                        button(type="button", onclick="window.location.href='/userList'") Cancel