html
    head
        title= title
        link(rel="stylesheet", href="/styles.css")
    body
        div(class="container")
            div(class="main")
                h1 Users list
                table
                    tr
                        th user
                        th name
                        th email
                        th age
                        th changes
                    each user in users
                        tr
                            td= user.username
                            td= user.name
                            td= user.email
                            td= user.age
                            td
                                button(href="/edit/" + userId) Edit
                                button(href="/delete/" + userId) Delete
                button(href="/newUser") Add